.DS_Store
secret.py
mturk.py
/flask/*
ActiveHITs
web-app/secret.py
web-app/app/*.pyc
*/site-packages/*
web-app/flask/lib/python2.7/site-packages/*
*.pyc
# Data Files
*.db
*.csv
*.log
*.dump
analysis/old_data/
analysis/plots/*.pdf
analysis/plots/*.png
analysis/*.pdf
analysis/*.png
*.sql
*.pages
#LaTeX 
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
