analysis/TileEM/config.py
.DS_Store
secret.py
mturk.py
/flask/*
ActiveHITs
web-app/secret.py
web-app/app/*.pyc
*/site-packages/*
web-app/flask/lib/python2.7/site-packages/*
*.pyc
# Data Files
*.db
*.csv
*.log
*.dump
analysis/TileEM/output/
analysis/TileEM/step500_output/
analysis/old_data/
analysis/plots/*.pdf
analysis/plots/*.png
analysis/bbplots/
analysis/*.pdf
analysis/*.png
Image-Segmentation
*output*
*.sql
*.pages
*.pkl
#LaTeX 
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
