<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Segmentation Experiment</title>
  <meta name="description" content="Identify objects!">
  <meta name="author" content="SitePoint">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css">
  <link href="https://s3.amazonaws.com/mturk-public/bs30/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <script src="{{ url_for('static', filename='lib/blowup.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery.panzoom.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery.canvasAreaDraw.js') }}"></script>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

  <div id="wrapper" style="padding:0.3cm;">
   <h1 style=" display:inline;"><font face="garamond">Identify objects in the image below!</font></h1>
    <div id = "buttonarea" style="padding:0.3cm;margin-right: 35px;float:right;display:inline-block;"> <button id="submitbtn">  <font face="courier">Submit [S]</font></button>
      <button id="instruct"><font face="courier">Instructions</font></button>
    </div>
  </div>
  
    <canvas id="canvas" style="float: left;"></canvas>

  
  <div style="margin-top: 10px;padding: 0.3cm;width: 40%;display: inline-block;">
    <br>
    <p style="color:red;font-family: garamond;font-size:16px;">Objects identified previously. You can hover over the names in the list below to view them on the image.</p>
    <div id='list' style="border:1px solid #000;overflow:hidden;height:120px;overflow-y:scroll;">
      <ul id='saved-objects'>
      </ul>
    </div>
    <br><br>
    <p style="color:green;font-family: garamond;font-size:16px;">Objects you've identified. Click on an object in the image, and name it appropriately.</p>
    <div id='new-list' style="border:1px solid #000;overflow:hidden;height:120px;overflow-y:scroll;">
      <ul id='new-objects'>
      </ul>
    </div>
    <br><br>
    
<!--     <button class="zoom-in"><font face="courier">Zoom In [I]</font></button>
    <button class="zoom-out"><font face="courier">Zoom Out [O]</font></button>
    <input type="range" class="zoom-range">
    <button class="reset"><font face="courier">Reset Zoom [R]</font></button>
    <br><br> -->
  </div>
    
<!-- 
  <div id="instructions" title="Task Instructions">
    <p><h4><font face="garamond"> Identify the object in the image by clicking on the center of the object and <br><br>

    You can go back to review your previous answers using the Previous button. There are a total of {{ numpoints }} pairs in this HIT.<br><br>

    Here's an example as a starting point!<br><br>

    <img src="{{ url_for('static', filename = 'example.png') }}" style="height:400px;width=400px;"><br><br>

    Notice how Point 2 is deeper in this image! Point 1 is on the couch, which is much closer to where the camera is standing, while Point 2 is on the wall behind.<br></font></h4></p>

  </div> -->

  <div id="end-dialog-message" title="Ready to submit?">
  </div>
  <!-- <form id = "endForm" action="{{ name.amazon_host }}" method="POST"> -->
  <form id = "endForm" action="{{ url_for('submit') }}" method="POST">
<!--   <form id = "endForm" action="{{ url_for('identify',img=img) }}" method="POST"> -->
      <input type="hidden" id="actions" value="" name="actions"/>
      <input type="hidden" id="times" value="" name="times"/>
      <input type="hidden" id="image-id" value="{{ img }}" name="image-id"/>
      <input type="hidden" id="x-locs" value="" name="x-locs"/>
      <input type="hidden" id="y-locs" value="" name="y-locs"/>
      <input type="hidden" id="obj-names" value="" name="obj-names"/>
      <input type="hidden" id="comment-input" value="" name="comment-input"/>
      <input type="hidden" id="assignmentId" value="{{ name.assignment_id }}" name="assignmentId"/>
      <input type="hidden" id="workerId" value="{{ name.worker_id }}" name="workerId"/>
      <input type="hidden" id="hitId" value="{{ name.hit_id }}" name="hitId"/>
  </form>

</body>

<script>
  var accepted = '{{ accepted|tojson }}';
  var objects = JSON.parse('{{ objects|tojson }}');
  var object_locations = JSON.parse('{{ locs|tojson }}');

  var clickX = new Array();
  var clickY = new Array();

  //Storing actions and timestamps for each click
  var actions = new Array();
  var times = new Array();

  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  canvas.setAttribute('width', '{{ wd }}'+'px');
  canvas.setAttribute('height','{{ ht }}'+'px'); 
  var imageObj = new Image();

  imageObj.onload = function() {
    $(canvas).attr({
      width: this.width,
      height: this.height
    });
    context.drawImage(imageObj, 0, 0);
    actions.push("Initialize");
    times.push(Date.now());
  };

  
  imageObj.src = '{{ filename }}';

  
  //var clickDrag = new Array(); 
  // var undoArray = new Array();
  var hoverActive = false;
  var hoverPoint = -1;
  var otherHoverPoint = -1;
  var activeListItem = -1;
  var otherActiveListItem = -1;
  var running_id = 0;
  var editing = -1;
  var paint;

  populateList(objects);

  // createInstructionsDialog();
  function addClick(x, y, dragging) {
    var user_input = window.prompt("What is this object called? (e.g. chair, dog collar)");
    if (user_input == null || user_input == ""){
      return;
    }
    $("#new-objects").append('<li class="editable-list" id=' + running_id + '><span style="font-family: courier;">' + user_input + '</span><input type="text" class="edit" style="display:none;font-family: courier;"/></li>');  
    running_id += 1;
    clickX.push(x);
    clickY.push(y);
  }

  function populateList(objs) {
    for (var p in objs) {
      $("#list ul").append('<li id=' + p + '><span class="tab" style="font: courier;"><font face="courier">' + objs[p] + '</font></span></li>');  
    }
  }

  function redraw() {
    canvas.width = canvas.width; // Clears the canvas 
    context.drawImage(imageObj, 0, 0);
    context.fillStyle = 'rgb(255,255,255)';
    context.strokeStyle = 'rgb(255,20,20)';
    //context.globalCompositeOperation = 'destination-over';
    for (var p in object_locations) {
      if (activeListItem == p || hoverPoint == p){
        context.fillRect(object_locations[p][0] - 4, object_locations[p][1] - 4, 8, 8);
        context.strokeRect(object_locations[p][0] - 4,object_locations[p][1] - 4, 8, 8);
      }
      else {
        context.fillRect(object_locations[p][0] - 2, object_locations[p][1] - 2, 4, 4);
        context.strokeRect(object_locations[p][0] - 2, object_locations[p][1] - 2, 4, 4);
      } 
    }
    context.fillStyle = 'rgb(255,255,255)';
    context.strokeStyle = 'rgb(20,255,20)';
    context.moveTo(clickX[0], clickY[0]);
    for (var i = 0; i < clickX.length; i++) {
      if (i == otherActiveListItem || i == otherHoverPoint) {
        context.fillRect(clickX[i] - 4, clickY[i] - 4, 8, 8);
        context.strokeRect(clickX[i] - 4, clickY[i] - 4, 8, 8);
      } else {
        context.fillRect(clickX[i] - 2, clickY[i] - 2, 4, 4);
        context.strokeRect(clickX[i] - 2,clickY[i] - 2, 4, 4);
      }
    }

  }

  move = function(e) {
    var newX = e.pageX - this.offsetLeft;
    var newY = e.pageY - this.offsetTop;
    // console.log("nx : "+newX);
    // console.log("ny : "+newY);
    clickX[activePoint] =  newX/canvas.width;
    clickY[activePoint] =  newY/canvas.height;
    redraw();
  };
  // console.log("cw : "+canvas.width);
  // console.log("ch : "+canvas.height);

  $('#canvas').mouseup(function(e) {
    activePoint = null;
    $(this).on('mousemove', handleFreeMouseMove);
  });

  $('#canvas').mousedown(function(e) {
    actions.push("addClick");
    times.push(Date.now());
    var mouseX = e.pageX - this.offsetLeft;
    var mouseY = e.pageY - this.offsetTop;
    for (var i = 0; i < clickX.length; i += 1) {
      dis = Math.sqrt(Math.pow(mouseX - clickX[i], 2) + Math.pow(mouseY - clickY[i], 2));
      if (dis < 6) {
        activePoint = i;
        $(this).on('mousemove', move);
        return false;
      }
    }
    // addClick(mouseX+70,mouseY+66);
    addClick(mouseX,mouseY);
    // addClick(mouseX, 0.9*mouseY);
    
    redraw();
  });


  $("#panzoom").panzoom({
    $zoomIn: $(".zoom-in"),
    $zoomOut: $(".zoom-out"),
    $zoomRange: $(".zoom-range"),
    $reset: $(".reset"),
    //onZoom: function(event, panzoom) { zooms[pageNumber] = 1;},
    contain: true,
    increment: 0.7,
    maxScale: 7.0
  });

  function createInstructionsDialog(){
    $( "#instructions" ).dialog({
      resizable: true,
      height:600,
      width:800,
      modal: true,
      closeOnEscape: false,
      open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); },
      buttons: {
        "Start Task": function() {
          if (accepted == 'true'){
            console.log("Closing.");
            $( this ).dialog( "close" ); 
            redraw(); 
          }
          else{
            alert("Please accept the HIT to continue!");
          }
        }
      }
    });
  }

  function onSubmission(){
    endDialog();
    $("#end-dialog-message").html("");
    $("#end-dialog-message").append('<p><h4><font face="garamond">Please give us your feedback to help us improve this interface!</font></h4></p><textarea id="comments"></textarea>');
    $('#comments').val('');
    actions.push("onSubmission");
    times.push(Date.now());
  }

  function onKeyPress(event)
  { 
    if (editing != -1){
      $("#new-objects").on("keyup","#" + editing,function(event){
        if (event.which == 13){
          $(this).children("input").focusout();
        }
      });
      return;
    }

    if (event.which == 114) {
        $("#reset").get(0).click();
    } 
    else if (event.which == 117) {
        $("#undo").get(0).click();
    }
    else if (event.which == 115){
        $("#submitbtn").click(onSubmission());
    }
  }

  function clearContents(element) {
    element.value = '';
  }

  function endDialog()
  {
    actions.push("endDialog");
    times.push(Date.now());
    $( "#end-dialog-message" ).dialog({
      resizable: false,
      height:400,
      width:300,
      modal: true,
      buttons: {
        "Submit Results?": function() {
          var listItems = $("#new-objects li");
          var object_names = new Array();
          listItems.each(function(idx, li) {
            object_names.push($(li).children("span").text());
          });
          $('input[name="x-locs"]').val(JSON.stringify(clickX));
          $('input[name="y-locs"]').val(JSON.stringify(clickY));
          $('input[name="times"]').val(JSON.stringify(times));
          $('input[name="actions"]').val(JSON.stringify(actions));
          $('input[name="obj-names"]').val(JSON.stringify(object_names));
          $('input[name="comment-input"]').val(JSON.stringify($('#comments').val()));
          $('input[name="image-id"]').val(JSON.stringify("{{  img  }}"));
          $("#endForm").submit();
          $( this ).dialog( "close" );
          // alert("Just in case, this blacks out the screen");
          $("#wrapper").remove();
          $("body").append('<div id="endsplash" style ="height:100%;width:100%;top:0px;left:0px;z-index:999;background:rgba(0,0,0,1);"> </div>');
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    }); 
  }
  
  jQuery('#end-dialog-message').bind('keypress', function(e) {
    e.stopPropagation(); 
  });

  jQuery('#instructions').bind('keypress', function(e) {

    e.stopPropagation(); 
  });

  $("#submitbtn").click(function(){
    onSubmission();
  });

  $("#instruct").click(function(){
    actions.push("instructions");
    times.push(Date.now());
    createInstructionsDialog();
  });

  $(document).keypress(function(event){
    onKeyPress(event);
  });

  $(document).on("mouseenter", ".editable-list", function(e) {
    $(this).css ("background-Color", "#c0c0c0");
    var id = $(this).attr('id');
    otherActiveListItem = id;
    redraw();
  });

  $(document).on("mouseleave", ".editable-list", function(e) {
    $(this).css("background-Color", "#FFF"); 
    otherActiveListItem = -1;
    redraw();
  });

  $(document).on("click", ".editable-list", function(e) {
      if (editing == -1){
        $(this).children("span").hide().siblings(".edit").show().val($(this).children("span").text()).focus();
        editing = $(this).attr('id');  
        console.log(editing);
      }
  });

  $(document).on("focusout", ".edit", function(e) {
      $(this).hide().siblings("span").show().text($(this).val());
      editing = -1;
      // $(this).data("hasfocus", false);
  });



  $(function() {
    $("#saved-objects").children("li").each(function() {
        var id = $(this).attr('id');
        $(this).mouseover(function() {
            $(this).css ("background-Color", "#c0c0c0");
            activeListItem = id;
            redraw();
        });
        $(this).mouseout(function () {
            $(this).css("background-Color", "#FFF"); 
            activeListItem = -1;
            redraw();
        });
    });
  });

  function handleFreeMouseMove(e) {
    var mouseX = e.pageX - this.offsetLeft;
    var mouseY = e.pageY - this.offsetTop;
    for (var p in object_locations){
      x_loc =  object_locations[p][0];
      y_loc =  object_locations[p][1];
      dis = Math.sqrt(Math.pow(mouseX - x_loc, 2) + Math.pow(mouseY - y_loc, 2));
      if (dis < 6) {
        if (!hoverActive) {
          hoverPoint = p;
          hoverActive = true;
          redraw();
        }
        return;
      } else {
        if (hoverActive) {
          hoverPoint = -1;
          otherHoverPoint = -1;
          hoverActive = false;
          redraw();
        }
      }
    }
    for (var i = 0; i < clickX.length; i += 1) {
      dis = Math.sqrt(Math.pow(mouseX -  clickX[i], 2) + Math.pow(mouseY - clickY[i], 2));
      if (dis < 6) {
        if (!hoverActive) {
          otherHoverPoint = i;
          hoverActive = true;
          redraw();
        }
        return;
      } else {
        if (hoverActive) {
          hoverPoint = -1;
          otherHoverPoint = -1;
          hoverActive = false;
          redraw();
        }
      }
    }
  };

  $("#canvas").on('mousemove', handleFreeMouseMove);

  // var scale = 1;
  // var originx = 0;
  // var originy = 0;
  // var visibleWidth = canvas.width;
  // var visibleHeight = canvas.height;
  // var zoomIntensity = 0.2;


//   canvas.onmousewheel = function (event){
//     event.preventDefault();
//     // Get mouse offset.
//     var mousex = event.clientX - canvas.offsetLeft;
//     var mousey = event.clientY - canvas.offsetTop;a
//     // Normalize wheel to +1 or -1.
//     var wheel = event.wheelDelta/120;

//     // Compute zoom factor.
//     var zoom = Math.exp(wheel*zoomIntensity);
    
//     // Translate so the visible origin is at the context's origin.
//     context.translate(originx, originy);
  
//     // Compute the new visible origin. Originally the mouse is at a
//     // distance mouse/scale from the corner, we want the point under
//     // the mouse to remain in the same place after the zoom, but this
//     // is at mouse/new_scale away from the corner. Therefore we need to
//     // shift the origin (coordinates of the corner) to account for this.
//     originx -= mousex/(scale*zoom) - mousex/scale;
//     originy -= mousey/(scale*zoom) - mousey/scale;
    
//     // Scale it (centered around the origin due to the trasnslate above).
//     context.scale(zoom, zoom);
//     // Offset the visible origin to it's proper position.
//     context.translate(-originx, -originy);

//     // Update scale and others.
//     scale *= zoom;
//     visibleWidth = canvas.width / scale;
//     visibleHeight = canvas.height / scale;
//     redraw();
// }


  </script>

</html>