<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Segmentation Experiment</title>
  <meta name="description" content="A segmentation interface!">
  <meta name="author" content="SitePoint">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css">
  <link href="https://s3.amazonaws.com/mturk-public/bs30/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <script src="{{ url_for('static', filename='lib/blowup.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery.panzoom.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery.canvasAreaDraw.js') }}"></script>
 
</head>

<body>
  <div id="wrapper" style="padding:0.3cm;display:inline;">
    <h1 style="display:inline; font-size: 32px"><font face="garamond">Draw a bounding box around the <div id="objName"  style="display: inline; color:red">object</div> located at the pointer!</font></h1>
    <div id = "buttonarea" style="padding:0.3cm;float:right;display:inline-block;">
      <button id="undo" type="button"> <font face="courier"> Undo [U] </font></button>
      <button id="reset" type="button"> <font face="courier"> Reset [R] </font></button>
      <button id="submitbtn">  <font face="courier">Submit [S]</font></button>
      <button id="instruct"><font face="courier">Instructions</font></button>
    </div>
  </div>
    <!-- <div id="panzoom"> -->
      <!-- <div id="panzoom" style="width:{{ wd }}px;height:{{ ht }}px;display: table-cell;"> -->
      <div style="display:inline-flex;">
        <div id="canvasDiv" style="display: inline-block;float: left;padding-top: 20px;padding-left: 20px;"></div>
        <!-- </div> -->
        <div id="clipped" class="clipParent" style="display: inline-block;padding-top: 20px;float: left;"></div>
      </div>
      
  <div id="instructions" title="Task Instructions">
    <p><h4><font face="garamond">Please segment the image by drawing around the boundaries of the object denoted by the pointer. You can click and drag the points that makes up the bounding box. If you made a mistake, you can use the Undo button to go back to the previous step or Reset to start over again.<br><br>
    Here's an example as a starting point!<br><br>

    <img src="{{ url_for('static', filename = 'segmentation_example.png') }}" style="height:242px"><br><br>

    The bounding box that you draw should be as close to the object boundary as possible but should contain the whole object. Here are some examples of bad bounding boxes. <br></font></h4></p>
    <img src="{{ url_for('static', filename = 'segmentation_bad.png') }}" style="height:250px;"><br><br>
  </div>

  <div id="end-dialog-message" title="Ready to submit?"></div>

  <form id = "endForm" action="{{ url_for('segmentation_submit') }}" method="POST">
  <!--     
  <form id = "endForm" action="{{ url_for('segment',img=img,objId=14) }}" method="POST">
   -->    <input type="hidden" id="image-id" value="{{ img }}" name="image-id"/>
      <input type="hidden" id="object_id" value="" name="object_id"/>
      <input type="hidden" id="x-locs" value="" name="x-locs"/>
      <input type="hidden" id="y-locs" value="" name="y-locs"/>
      <input type="hidden" id="actions" value="" name="actions"/>
      <input type="hidden" id="times" value="" name="times"/>
<!--       <input type="hidden" id="zooms" value="" name="zooms"/> -->
      <input type="hidden" id="comment-input" value="" name="comment-input"/>
      <input type="hidden" id="assignmentId" value="{{ name.assignment_id }}" name="assignmentId"/>
      <input type="hidden" id="workerId" value="{{ name.worker_id }}" name="workerId"/>
      <input type="hidden" id="hitId" value="{{ name.hit_id }}" name="hitId"/>
  </form>

</body>

<script>
  var accepted = '{{ accepted|tojson }}';
  var object = JSON.parse('{{ object|tojson }}');
  var object_location = JSON.parse('{{ loc|tojson }}');
  
  //Storing actions and timestamps for each click
  var actions = new Array();
  var times = new Array();
  // var canvas = document.getElementById('canvas');
  var canvasDiv = document.getElementById('canvasDiv');
  canvas = document.createElement('canvas');
  canvas.setAttribute('width', '{{ wd }}'+'px');
  canvas.setAttribute('height','{{ ht }}'+'px'); 
      
  canvas.setAttribute('id', 'canvas');
  $(canvasDiv).prepend(canvas);
  if (typeof G_vmlCanvasManager != 'undefined') {
    canvas = G_vmlCanvasManager.initElement(canvas);
  }
  var context = canvas.getContext('2d');
  var imageObj = new Image();
  imageObj.onload = function() {
    $(canvas).attr({
      width: this.width,
      height: this.height
    });
    context.drawImage(imageObj, 0, 0);
    renderObjLoc();
    actions.push("Initialize");
    times.push(Date.now());
  };
  
  imageObj.src = '{{ filename }}';
  console.log('img: '+ '{{ img }}')
  console.log('objId: '+ '{{ objId }}')
  // var clipCanvas = document.getElementById('clipCanvas');
  // var clipContext = clipCanvas.getContext('2d');
  var clipParent = document.getElementById('clipped');
  clipCanvas = document.createElement('canvas');
  clipCanvas.setAttribute('id', 'clipCanvas');
  $(clipParent).prepend(clipCanvas);
  if (typeof G_vmlCanvasManager != 'undefined') {
    clipCanvas = G_vmlCanvasManager.initElement(clipCanvas);
  }
  
  var clipContext = clipCanvas.getContext('2d');
  var clickX = new Array();
  var clickY = new Array();
  //var clickDrag = new Array(); 
  var undoArray = new Array();
  var hoverActive = false;
  var hoverPoint = -1;
  var paint;
  //Pick a random object to segment (Only done once)
  // var randkey=Object.keys(object)[Math.floor(Math.random()*Object.keys(object).length)];
  createInstructionsDialog();
  function addClick(x, y, dragging) {
    undoArray.push([-1, -1, -1]);
    // console.log(undoArray);
    clickX.push(x);
    clickY.push(y);
  }
  function renderObjLoc(){ 
    context.fillStyle = 'rgb(255,255,255)';
    context.strokeStyle = 'rgb(255,20,20)';
    context.lineWidth = 3;
    pointerImg = new Image();
    pointerImg.src = canvas.toDataURL("../static/pointer.png");
    context.fillRect( object_location[0] - 4,  object_location[1] - 4, 8,8);
    context.strokeRect( object_location[0] - 4,  object_location[1] - 4, 8,8);
    document.getElementById("objName").innerHTML=object;
  }
  
  function redraw() {
    canvas.width = canvas.width; // Clears the canvas 
    context.drawImage(imageObj, 0, 0);
    //context.globalCompositeOperation = 'destination-over';
    renderObjLoc();
    context.fillStyle = 'rgb(255,255,255)';
    context.strokeStyle = "rgb(20,255,20)";
    context.lineWidth = 1;
    context.beginPath();
    context.moveTo(clickX[0], clickY[0]);
    for (var i = 0; i < clickX.length; i++) {
      if (i == hoverPoint) {
        context.fillRect(clickX[i] - 4, clickY[i] - 4, 8, 8);
        context.strokeRect(clickX[i] - 4, clickY[i] - 4, 8, 8);
      } else {
        context.fillRect(clickX[i] - 2, clickY[i] - 2, 4, 4);
        context.strokeRect(clickX[i] - 2, clickY[i] - 2, 4, 4);
      }
      if (clickX.length > 1 && i > 0) {
        context.lineTo(clickX[i], clickY[i]);
      }
    }
    context.closePath();
    context.fillStyle = 'rgba(0,255,0,0.3)';
    context.fill();
    context.stroke();
  }
  move = function(e) {
    var newX = e.pageX - this.offsetLeft;
    var newY = e.pageY - this.offsetTop;
    // clickX[activePoint] = newX/canvas.width;
    // clickY[activePoint] = newY/canvas.height;
    clickX[activePoint] = newX;
    clickY[activePoint] = newY;
    redraw();
    generateClipping();
  };
  $('#canvas').mouseup(function(e) {
    $(this).off('mousemove');
    activePoint = null;
    $(this).on('mousemove', handleFreeMouseMove)
  });
  $('#canvas').mousedown(function(e) {
    actions.push("addClick");
    times.push(Date.now());
    var mouseX = e.pageX - this.offsetLeft;
    var mouseY = e.pageY - this.offsetTop;
    for (var i = 0; i < clickX.length; i += 1) {
      dis = Math.sqrt(Math.pow(mouseX - clickX[i], 2) + Math.pow(mouseY - clickY[i], 2));
      if (dis < 6) {
        activePoint = i;
        undoArray.push([activePoint, clickX[i], clickY[i]]);
        $(this).on('mousemove', move);
        return false;
      }
    }
    addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
    redraw();
    generateClipping();
  });
  function generateClipping() {
    clipCanvas.setAttribute('width', canvas.getAttribute('width')+'px');
    clipCanvas.setAttribute('height',canvas.getAttribute('height')+'px');
    
    clipParent.setAttribute('width', canvas.getAttribute('width')+'px');
    clipParent.setAttribute('height',canvas.getAttribute('height')+'px');
    clipCanvas.width = clipCanvas.width; // Clears the canvas 
    clipContext.beginPath();
    clipContext.moveTo(clickX[0], clickY[0]);
    for (var i = 0; i < clickX.length; i++) {
      if (clickX.length > 1 && i > 0) {
        clipContext.lineTo(clickX[i], clickY[i]);
      }
    }
    clipContext.closePath();
    clipContext.clip();
    clipContext.drawImage(imageObj, 0, 0);
  }
  $('#undo').click(function() {
    if (undoArray.length <= 0) {
      return;
    }
    op = undoArray.pop();
    if (op[0] == -1) {
      clickX.pop();
      clickY.pop();
    } else {
      clickX[op[0]] = op[1];
      clickY[op[0]] = op[2];
    }
    redraw();
    generateClipping();
    actions.push("undo");
    times.push(Date.now());
  });
  $('#reset').click(function() {
    clickX = [];
    clickY = [];
    redraw();
    generateClipping();
    actions.push("reset");
    times.push(Date.now());
  });
  // $("#canvasDiv").panzoom({
  //   $zoomIn: $(".zoom-in"),
  //   $zoomOut: $(".zoom-out"),
  //   $zoomRange: $(".zoom-range"),
  //   $reset: $(".reset"),
  //   onZoom: function(event, panzoom) { zooms[pageNumber] = 1;},
  //   contain: true,
  //   increment: 0.7,
  //   maxScale: 7.0
  // });
  function createInstructionsDialog(){
    $( "#instructions" ).dialog({
      resizable: true,
      height:600,
      width:800,
      modal: true,
      closeOnEscape: false,
      open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); },
      buttons: {
        "Start Task": function() {
          if (accepted == 'true'){
            // console.log("Closing.");
            $( this ).dialog( "close" );  
          }
          else{
            alert("Please accept the HIT to continue!");
          }
        }
      }
    });
  }
  function onSubmission(){
    endDialog();
    $("#end-dialog-message").html("");
    $("#end-dialog-message").append('<p><h4><font face="garamond">Please give us your feedback to help us improve this interface!</font></h4></p><textarea id="comments"></textarea>');
    $('#comments').val('');
    actions.push("onSubmission");
    times.push(Date.now());
  }
  function onKeyPress(event)
  {
    if (event.which == 114) {
        $("#reset").get(0).click();
    } 
    else if (event.which == 117) {
        $("#undo").get(0).click();
    }
    else if (event.which == 115){
        $("#submitbtn").click(onSubmission());
    }
  }
  function clearContents(element) {
    element.value = '';
  }
  function endDialog()
  {
    actions.push("endDialog");
    times.push(Date.now());
    $( "#end-dialog-message" ).dialog({
      resizable: false,
      height:400,
      width:300,
      modal: true,
      buttons: {
        "Submit Results?": function() {
          $('input[name="x-locs"]').val(JSON.stringify(clickX));
          $('input[name="y-locs"]').val(JSON.stringify(clickY));
          $('input[name="object_id"]').val('{{ objId }}');
          $('input[name="image-id"]').val(JSON.stringify("{{  img  }}"));
          $('input[name="times"]').val(JSON.stringify(times));
          $('input[name="actions"]').val(JSON.stringify(actions));
          // $('input[name="zooms"]').val(JSON.stringify(zooms));
          $('input[name="comment-input"]').val(JSON.stringify($('#comments').val()));
          $("#endForm").submit();
          $( this ).dialog( "close" );
          // alert("Just in case, this blacks out the screen");
          $("#wrapper").remove();
          $("body").append('<div id="endsplash" style ="height:100%;width:100%;top:0px;left:0px;z-index:999;background:rgba(0,0,0,1);"> </div>');
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    }); 
  }
  
  jQuery('#end-dialog-message').bind('keypress', function(e) {
    e.stopPropagation(); 
  });
  jQuery('#instructions').bind('keypress', function(e) {
    e.stopPropagation(); 
  });
  $("#submitbtn").click(function(){
    onSubmission();
  });
  $("#instruct").click(function(){
    actions.push("instructions");
    times.push(Date.now());
    createInstructionsDialog();
  });
  $(document).keypress(function(event){
    onKeyPress(event);
  });
  function handleFreeMouseMove(e) {
    var mouseX = e.pageX - this.offsetLeft;
    var mouseY = e.pageY - this.offsetTop;
    for (var i = 0; i < clickX.length; i += 1) {
      dis = Math.sqrt(Math.pow(mouseX - clickX[i], 2) + Math.pow(mouseY - clickY[i], 2));
      if (dis < 6) {
        if (!hoverActive) {
          hoverPoint = i;
          hoverActive = true;
          redraw();
        }
        break;
      } else {
        if (hoverActive) {
          hoverPoint = -1;
          hoverActive = false;
          redraw();
        }
      }
    }
  };
  $("#canvas").mousemove(function(e) {
    handleFreeMouseMove(e);
  });
  </script>

</html>