<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Segmentation Experiment</title>
  <meta name="description" content="Identify objects!">
  <meta name="author" content="SitePoint">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <form id = "endForm" action="{{ name.amazon_host }}" method="POST">
      <input type="hidden" id="image-id" value="{{ img }}" name="image-id"/>
      <input type="hidden" id="x-locs" value="{{ x_locs }}" name="x-locs"/>
      <input type="hidden" id="y-locs" value="{{ y_locs }}" name="y-locs"/>
<!--       <input type="hidden" id="obj-names" value="{{ object_names }}" name="obj-names"/> -->
      <input type="hidden" id="comment-input" value="{{ comment }}" name="comment-input"/>
      <input type="hidden" id="assignmentId" value="{{ name.assignment_id }}" name="assignmentId"/>
      <input type="hidden" id="workerId" value="{{ name.worker_id }}" name="workerId"/>
      <input type="hidden" id="hitId" value="{{ name.hit_id }}" name="hitId"/>
  </form>
  Submitted!
</body>

<script>
console.log("{{ name.amazon_host }}")
console.log("{{ name.assignment_id }}")
$("#endForm").submit();
</script>
</html>